<div ng-controller="IndexController as index">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div message="message"
          username="index.username"
          last="$last"
          ng-repeat="message in index.messages"></div>
        <div class="message has-error" ng-if="index.has_error">
          Currently I am not able to connect to the server. Please wait, while I try again!
          <div scroll-to></div>
        </div>
      </div>
    </div>
  </div>
  <div id="clist" class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Currently online: {{ index.clist.length }}</h3>
    </div>
    <div class="panel-body">
      <ul class="list-unstyled">
        <li ng-repeat="user in index.clist">
          {{ user }}
        </li>
      </ul>
    </div>
  </div>
  <div class="navbar-message-container navbar-default navbar-fixed-bottom">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <form name="formMsg" ng-submit="index.send()" novalidate>
            <div class="input-group">
              <span class="input-group-addon" title="That's your name!">{{ index.username }}:</span>
              <input type="text" class="form-control" id="inputMsg" ng-model="index.currentPayload" required />
              <span class="input-group-btn">
                <button type="submit" class="btn btn-primary"
                  ng-disabled="index.has_error || formMsg.$invalid">Send</button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
