<div ng-controller="IndexController as index">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div message="message"
          username="index.username"
          last="$last"          
          ng-repeat="message in index.messages | orderBy:message.timestamp"></div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Currently online: {{ index.clist.length }}</h3>
          </div>
          <div class="panel-body">
            <ul class="list-unstyled">
              <li ng-repeat="user in index.clist">
                {{ user }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar-message-container navbar-default navbar-fixed-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <form name="formMsg" ng-submit="index.send()" novalidate>
            <div class="input-group">
              <span class="input-group-addon">{{ index.username }}</span>
              <input type="text" class="form-control" id="inputMsg" ng-model="index.currentPayload" required />
              <span class="input-group-btn">
                <button class="btn btn-primary">Send</button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
